.question-lecture-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .question-lecture-filter {
        display: flex;
        gap: 10px;
    }

    .question-lecture-wrapper {
        display: flex;
        flex-direction: column;

        .question-lecture-header {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .question-lecture-item {
            display: flex;
            height: 100px;
            align-items: start;
            gap: 10px;

            .question-lecture-left {

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .question-lecture-middle {
                display: flex;
                flex-direction: column;

                .question-lecture-title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .question-lecture-description {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .question-lecture-time {
                    font-size: 12px;
                    display: flex;
                    gap: 10px;
                }
            }

            .question-lecture-right {
                display: flex;
                align-items: start;
                gap: 5px;

                .question-lecture-icon {
                    font-size: 30px;
                }
            }
        }
    }
}