.review-container {
    display: flex;
    flex-direction: column;

    .review-divider {
        margin: 0;
    }

    .review-top {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        margin-top: 10px;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        .review-top-right {
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .review-rating {
                display: flex;
                align-items: center;
                gap: 10px;

                .review-rating-icon {
                    font-size: 12px;
                }
            }
        }
    }
}