.login-container {
    width: 1292px;
    padding: 40px 60px;
    display: flex;


    .left {
        width: 638px;

        img {
            width: 100%;
            height: 726px;
            object-fit: cover;
        }
    }

    .right {
        padding: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;

        h2 {
            font-size: 30px;
            align-items: center;
        }

        .form {
            width: 100%;
            margin-top: 10px;
        }

        .bottom {
            .forgot-password-form {
                margin-bottom: 16px;

                .forgot-password {
                    text-align: center;

                    span {
                        a {
                            text-decoration: underline;
                            text-underline-offset: 4px;
                            text-decoration-color: var(--color-violet);
                            font-weight: 700;
                            color: var(--color-violet);
                        }
                    }
                }
            }
        }

        .separator {
            display: flex;
            align-items: center;
            text-align: center;

            margin-bottom: 16px;

            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid var(--color-gray-200);
                width: 200px;
            }

            &::before {
                content: '';
                flex: 1;
                border-bottom: 1px solid var(--color-gray-200);
            }

        }

        .option {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            .button {
                cursor: pointer;
                width: 48px;
                height: 48px;
                border: 1px solid var(--color-gray-600);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .register {
            width: 100%;
            background-color: var(--color-gray-100);
            text-align: center;
            padding-top: 16px;
            padding-bottom: 16px;

            a {
                color: var(--color-violet);
                text-decoration: underline;
                font-weight: 700;
            }
        }

    }
}