.dashboard-chart-year-container {
    display: flex;
    flex-direction: column;

    .dashboard-input-year {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            margin-right: 20px;
        }

        .dashboard-input-year-right {
            .dashboard-input-year-btn-export {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .dashboard-chart-container {
        width: 100%;
        height: 500px;
        margin-top: 40px;

        .dashboard-chart-header {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }
    }
}