.btn {
    min-width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #032E32;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 175%;
    cursor: pointer;
    transition: background color;
    transition-duration: 0.25s;


    &.primary {
        background: #FF6934;
        color: #fff;

        &:hover {
            background: #FF4401;
        }
    }

    &.outline {
        background: transparent;
        border: 1px solid #FF6934;
        color: #FF6934;

        &:hover {
            background: rgb(255, 180, 153, 0.3)
        }
    }

    &.text {
        background: transparent;
        font-weight: normal;
        padding: 0 15px;

        &:hover {
            color: #FF6934;
            background: #FFB499;
        }
    }

    &.circle {
        background: var(--header-bg);
        border-radius: 50%;
        border: none;

        &:hover {
            background: #FFB499;
        }
    }
}