.course-landingpage-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .16);
    border: 1px solid #6a6f73;

    .header {
        height: 50px;
        padding: 2.4rem 2.4rem;
        border-bottom: 1px solid #d1d7dc;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper {
        margin-top: 20px;
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .form-item {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .course-free {
                max-width: 100px;
            }

            .title {
                min-height: 28px;
                padding-bottom: 8px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0;
                font-size: 16px;
            }

            input {
                min-height: 48px;
                width: 100%;
                padding: 10px 13px;

                &:focus {
                    outline: none;
                }
            }

            .form-image {
                display: flex;
                gap: 10px;

                .input-file {
                    width: calc(100% - 300px - 10px);
                }

                img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }


            }
        }
    }

}