.section-learning-curriculum-container {
    width: 100%;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;

    .section-learning-curriculum-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .section-learning-curriculum-title {
            font-size: 14px;
            font-weight: 400;
        }

        .section-learning-curriculum-time {
            display: flex;
            gap: 5px;
            font-size: 11px;
            align-items: center;
        }
    }

    .section-learning-curriculum-right {
        img {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #edeff1;
    }

    &.active {
        background-color: #f0512333;
    }
}