@use "../../styles/mixins" as *;

.filter-course-container {
  display: flex;
  gap: 10px;

  .filter-right-course-left {
    flex: 3;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .filter-right-course-middle {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

    .filter-right-course-title {
      font-size: 1.6rem;
      line-height: 1.2;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;

      @include screen(md) {
        font-size: 1.4rem;
      }
    }

    .filter-right-course-desc {
      font-size: 1.3rem;

      @include screen(md) {
        font-size: 1.1rem;
      }
    }

    .filter-right-course-instructor {
      font-size: 1.4rem;
      font-weight: 500;

      @include screen(md) {
        font-size: 1.2rem;
      }
    }

    .filter-right-course-rating {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      flex-wrap: wrap;

      @include screen(md) {
        font-size: 1.1rem;
      }

      .rating {
        font-size: 1.2rem;

        @include screen(md) {
          font-size: 1.1rem;
        }
      }
    }

    .filter-right-course-total {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      flex-wrap: wrap;

      @include screen(md) {
        font-size: 1.1rem;
        gap: 5px;
      }
    }
  }

  .filter-right-course-right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    gap: 8px;

    @include screen(md) {
      font-size: 1.2rem;
    }

    .course-discountPrice {
      text-decoration: line-through;
      font-size: 1.2rem;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
