.curriculumlist-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .16);
    background-color: #ffffff;
    border: 1px solid #6a6f73;

    .header {
        height: 50px;
        padding: 2.4rem 2.4rem;
        border-bottom: 1px solid #d1d7dc;
    }

    .wrapper {
        margin-top: 20px;
        padding: 0 2.4rem;

    }

    .plus {
        padding: 0 2.4rem;
        margin-top: 20px;
        height: 70px;

        .btn-plus {
            display: inline-flex;
            align-items: center;
            line-height: 16.8px;
            padding: 0 12px;
            text-align: center;
        }
    }

    .curriculumlist-add-section {
        padding: 0 2.4rem;
        margin-bottom: 64px;
    }

}