.answer-learning-container {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 8px;
    box-shadow: 8px 0 8px #89acc00a;
    background-color: #f6f7f9;
    user-select: none;
    border: 2px solid transparent;
    transition: ease .2s;
    margin-top: 16px;
}

.correct {
    border-color: #48bd79;
    background-color: #f0ffed;
}

.active {
    border-color: #0093fc;
}

.incorrect {
    border-color: #cc5140;
    background-color: #ffeaea;
}