.cart-container {
    width: 1244px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    flex-direction: column;

    .header {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
    }

    .wrapper {
        width: 100%;
        display: flex;
        gap: 20px;
        padding: 40px 0;

        .left {
            flex: 7;
        }

        .right {
            flex: 3;

            .payment-divider {
                margin-top: 10px;
                margin-bottom: 5px;
                background-color: #d1d7dc;
            }

            .coupon-header {
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .coupon-used {
                border: 1px dashed #d1d7dc;
                padding: 15px 10px;
                width: 100%;
                height: 48px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .coupon-used-left {
                    flex: 1;
                    font-size: 12px;
                    color: var(--color-gray-300);
                }

                .coupon-used-right {
                    width: 45px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .coupon-error {
                color: red;
                font-size: 12px;
            }

            .coupon-input {
                display: flex;
                align-items: center;

                .coupon-input {
                    flex: 8;
                    border-radius: 0;
                    padding: 10px 15px;
                    height: 34px;
                }

                .coupon-btn {
                    flex: 2;
                    border-radius: 0;
                    height: 34px;
                    background-color: #a435f0;
                    color: white;
                    font-weight: 700;
                }
            }

            .total {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .total-header {
                    color: #6a6f73;
                    font-size: 16px;
                    margin-bottom: 8px;
                    font-weight: bold;
                }

                .total-price {
                    font-size: 32px;
                    font-weight: bold;
                }

                .total-old-price {
                    text-decoration: line-through;
                    font-size: 16px;
                    color: var(--color-gray-300);
                }

                .total-discount {
                    font-size: 16px;
                    color: var(--color-gray-500);
                }
            }

            .payment-btn {
                border-radius: 0;
                width: 100%;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #a435f0;
                color: white;
                font-weight: bold;
            }
        }
    }

}