.card-container {
    display: block;
    width: 100%;
    padding-right: 20px;

    .card-course-title {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .course-image {
        width: 100%;
        height: 137px;
        object-fit: cover;
    }

    .course-instructor {
        font-size: 12px;
    }

    .course-price {
        font-size: 14px;
        font-weight: bold;
    }

    .course-rating {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        .rating {
            font-size: 11px;
        }
    }
}