.meetingView-container {
    height: 100vh;
    position: relative;

    .meetingView-top {
        height: calc(100vh - 60px);
        display: flex;
        width: 100%;

        .meetingView-top-left {
            background-color: black;
        }

        .meetingView-top-right {
            overflow: auto;
        }
    }

    // Set position to relative to enable absolute positioning inside
}