.question-content-user-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .question-lecture-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .question-lecture-filter {
            display: flex;
            gap: 10px;
        }
    }

    .answer-lecture-length {
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0;
    }

    .answer-lecture-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .answer-lecture-item {
            display: flex;
            align-items: start;
            padding: 0 10px;
            gap: 10px;
            margin-bottom: 20px;

            .answer-lecture-left {
                width: 5%;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .answer-lecture-middle {
                width: 75%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .answer-lecture-email {
                    font-size: 16px;
                    color: #8072e6;
                    margin-bottom: 5px;
                }

                .answer-lecture-content {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }

            .answer-lecture-right {
                width: 20%;
                display: flex;
                justify-content: flex-end;

                .answer-lecture-edit-icon {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }

        .answer-lecture-form-add {
            display: flex;
            align-items: center;


            .answer-lecture-input {
                width: 80%;
            }

            .answer-lecture-btn {
                width: 20%;
            }
        }

    }

    .question-lecture-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .question-lecture-header {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .question-lecture-active-btn {
            width: fit-content;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .question-lecture-active-item {
            display: flex;
            height: 100px;
            align-items: start;
            gap: 10px;
            margin-bottom: 10px;

            .question-lecture-active-left {
                width: 5%;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .question-lecture-active-middle {
                width: 75%;
                display: flex;
                flex-direction: column;

                .question-lecture-active-title {
                    font-size: 16px;
                    color: #2d2f31;
                    margin-bottom: 10px;
                }

                .question-lecture-active-description {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                .question-lecture-active-time {
                    font-size: 12px;
                    display: flex;
                    gap: 10px;
                }
            }

            .question-lecture-active-right {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: start;
                gap: 5px;
                cursor: pointer;

                .question-lecture-icon {
                    font-size: 30px;

                }
            }
        }

        .question-lecture-item {
            display: flex;
            height: 100px;
            align-items: start;
            gap: 10px;
            padding: 10px 20px;
            margin-bottom: 10px;

            .question-lecture-left {
                width: 5%;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .question-lecture-middle {
                width: 75%;
                display: flex;
                flex-direction: column;

                .question-lecture-title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .question-lecture-description {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .question-lecture-time {
                    font-size: 12px;
                    display: flex;
                    gap: 10px;
                }
            }

            .question-lecture-right {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                gap: 10px;
                cursor: pointer;

                .question-lecture-view-answer {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 5px;

                    .question-lecture-icon {
                        font-size: 20px;
                    }

                    span {
                        font-size: 16px;
                    }
                }

                .question-lecture-edit {
                    display: flex;
                    justify-content: flex-end;
                    align-items: start;

                    .question-lecture-edit-icon {
                        font-size: 20px;
                    }
                }

            }

            &:hover {
                background-color: #d1d7dc;
            }
        }
    }
}