.popper-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--color-gray-200);
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 500px;
    width: 100%;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    background-color: #fff;
}