.drawer-container {
    width: 1211px;
    height: 300px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 24px 0 28px;
    background-color: #fff;
    z-index: 999;
    padding: 10px 103px;

    .drawer-header {
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 28px;

        span {
            background-color: #f05123;
            font-size: 18px;
            color: #fff;
            padding: 2px 4px;
            border-radius: 3px;
            margin-left: 10px;
        }
    }

    .drawer-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
        gap: 10px;

        button {
            height: 32px;
            border-radius: 99px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}