.course-intendedLearners-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .16);
    border: 1px solid #6a6f73;

    .header {
        height: 50px;
        padding: 2.4rem 2.4rem;
        border-bottom: 1px solid #d1d7dc;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper {
        margin-top: 20px;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 10px;

            .desc {
                max-width: 800px;
                margin-bottom: 10px;
            }

            .list-input {
                display: flex;
                gap: 10px;
                flex-direction: column;

                .input-container {
                    display: flex;

                    .input {
                        min-height: 48px;
                        padding: 0px 16px;
                        min-width: 700px;

                        &:focus {
                            outline: none;
                        }
                    }

                    .action-delete {
                        background-color: white;
                        border: 1px solid #6a6f73;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .action {
                font-size: 16px;
                height: 48px;
                color: #5624d0;
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}