.footer-container {
    padding: 40px 90px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .footer-info {
        display: flex;
        color: white;
        gap: 100px;
    }

    .footer-contact {
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer-icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}