.curriculum-insert {
    position: relative;
    height: 32px;
    width: 100%;
    cursor: pointer;
    opacity: 0;

    .curriculum-btn-insert {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 32px;
        width: 64px;
        top: 0px;
        left: -32px;
        border: 1px dashed #6a6f73;
        background-color: white;
    }

    &:hover {
        opacity: 1;
    }
}

.curriculum-container {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 8px;


    .curriculum-wrapper {
        border: 1px solid #6a6f73;
        background-color: white;
        padding: 12px 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 52px;

        .curriculum-left {
            display: flex;
            align-items: center;
            gap: 5px;

            .curriculum-action {
                display: inline-flex;
                gap: 10px;
                align-items: center;
                justify-content: space-between;

                .icon-edit {
                    width: 14px;
                    height: 14px;
                }

                .icon-trash {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .curriculum-right {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }

    .curriculum-dropdown {
        padding: 9px;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #6a6f73;
        border-right: 1px solid #6a6f73;
        border-bottom: 1px solid #6a6f73;
        gap: 10px;

        .curriculum-lecture-video-container {
            display: flex;
            align-items: center;
            gap: 10px;

            .curriculum-lecture-video-right {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 5px;

                .lecture-content-edit {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        .dropdown-top {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #d1d7dc;

            .lecture-form-action {
                margin: 8px 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
            }
        }

        .dropdown-questions-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        .dropdown-questions-list {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .dropdown-questions-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

                .right {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }

        .dropdown-bottom {
            padding: 8px;
            position: relative;



            .tab-title {
                position: absolute;
                right: 34px;
                bottom: calc(100% + 9px);
                z-index: 1;
                border: 1px solid #6a6f73;
                border-bottom: 1px solid #fff;
                background-color: #fff;
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 8px;

                // min-width: 140px;
                .tab-title-icon {
                    height: 22px;
                    width: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }

        .dropdown-question-bottom {
            position: relative;

            .tab-title {
                position: absolute;
                right: 34px;
                bottom: calc(100% + 9px);
                z-index: 1;
                border: 1px solid #6a6f73;
                border-bottom: 1px solid #fff;
                background-color: #fff;
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 8px;

                // min-width: 140px;
                .tab-title-icon {
                    height: 22px;
                    width: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }

        .curriculum-question {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .curriculum-answers {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .answer-action {
                display: flex;
                justify-content: flex-end;

                .btn-question-save {
                    background-color: black;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                    border-radius: 0;
                }
            }
        }
    }
}