.course-container {
    .header {
        background-color: black;
        width: 100%;
        height: 400px;
        padding: 0 216px;
        display: flex;
        gap: 48px;

        .left {
            color: white;
            flex: 7;

            .breadcrumb {
                display: flex;
                align-items: center;
                color: #c0c4fc;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.8px;
                padding-top: 24px;
            }

            .title {
                padding-top: 24px;
                font-size: 32px;
                font-weight: 700;
            }

            .headline {
                padding-top: 24px;
                font-size: 19px;
                line-height: 26.6px;
            }

            .review {
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 10px;

                .rating {
                    font-size: 14px;
                }

            }

            .instructor-name {
                padding-top: 24px;
            }
        }

        .right {
            flex: 3;
        }
    }

    .content {
        height: 1000px;
        padding: 20px 216px;
        display: flex;
        gap: 48px;

        .left {
            flex: 7;

            .lessons-content {
                width: 100%;
                border: 1px solid var(--color-gray-200);
                padding: 24px 16px;

                .lesson-header {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                .lesson-content {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    .lesson {
                        width: calc(50% - 10px);
                    }
                }

            }

            .course-content {}
        }

        .right {
            flex: 3;
        }
    }
}