.answer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .radio {
        flex: 1;
        display: block;
        position: relative;
        padding-left: 34px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;

        .input-radio {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
                background-color: #2196F3;

                &:after {
                    display: block;
                }
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;

            &::after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        .checkmark::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .answer-text {
                color: #979fa6;
                font-size: 16px;
                padding: 13px 16px;
                height: 70px;
                border: 1px solid #2d2f31;
            }

            .answer-explain {
                margin-left: 53px;
                height: 48px;
                padding: 13px 16px;
                background-color: #f7f9fa;
                border: none;
                border: 1px solid #2d2f31;
            }
        }

    }

    .answer-icon {
        width: 50px;
        height: 50px;
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
    }
}